%h1 About Bookmarks
%p Bookmarks allows users to bookmark URLs via email, peruse other user's bookmarks and maintain a personal index of categorized bookmarks.
%ul
  %li Email a URL to Bookmarks and have it saved in the Bookmarks database. 
  %li Add a hashtag to an email subject so that bookmarks are categorized.
  %li View an index of all the bookmarks saved, organized by topic.
  %li "Like" or "Unlike" another user's bookmark, so that it will appear/disapear from your personal bookmark index.
  %li Delete bookmarks from your personal index.
  %li Click on a hashtag topic and then display a view with the entire collection of only related bookmarks.
%p Created by: Fernando Soria