%h1 About Bookmarks
%p Bookmarks is a social web application that allows users to bookmark URLs via email and maintain a personal index of categorized bookmarks. In addition, members are able to browse and “like” other user’s bookmarks which allows them to share and discover new sites with friends and family.
%h2 Want to try it out?
%p To experience the full features of this application you will need to sign up. Fortunately it's really easy and free. Here are some quick instuctions:
%ol
  %li Simply sign up for a free account (Use your email or Facebook account)
  %li Login to your personal email (the one you used to sign up with)
  %li Compose a new email
  %li Add a hashtag (i.e. #lifehacks) to the subject line
  %li Include a URL in the body of your email (i.e. http://lifehacker.com/)
  %li Send an email to Bookmarks at postmaster@app28761010.mailgun.org
  %li Login to your new Bookmarks account and enjoy!
%p Don't want to sign up? No prob. If you are interested in test-driving Bookmarks login using the following cedentials:
%ul.list-unstyled
  %li U: member@example.com
  %li P: helloworld
%p You will not be able to add new bookmarks, but you can "Like" other users bookmarks.
%h2 Want to see more?
%p If you are interested in or have any questions about my work, please visit my site at <a href="http://www.soriafernando.com/" target="_blank">www.soriafernando.com</a>.